.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  background-color:white;
  border: 1px solid white(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 30px;
  text-align: left;
  box-shadow: 0 0 1px black;
  border: 1px solid white;
}
.topdiv{
  background-color: black;
  color: white;
  height:100px;
  text-align: center;
  padding-top: 55px;;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  margin-left: 250px;
  margin-bottom: -20px;;
}
