.parentdiv {
  background-color: whitesmoke;
}

.container {
  max-width: 600px;
  margin-left: 450px;
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.subheading-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.subheading-wrapper-left,
.subheading-wrapper-right {
  flex-basis: 50%;
}

.header-left {
  flex-basis: 50%;
  align-items: flex-start;
}

.header-right {
  flex-basis: 50%;
  align-items: flex-end;
}

.subheading-right,
.subheading-left {
  flex-basis: 50%;
}

.a-container-right {
  padding-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  padding-left: 15px;
}
.header-right .home {
  background-color: rgba(8, 148, 241, 0.993);
  display: inline-block;
  color: black;
  width: 50px;
  padding-right: 10px;
}

.jumbotronContainer {
  text-align: center;
  background-color: rgb(235, 253, 253);
}

.jumbotron1 {
  margin-top: -10px;
}
.jumbotron2 {
  margin-top: -15px;
}

.btncontainer .signup {
  background-color: green;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.btncontainer .launch {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.subheading-para-one {
  margin-bottom: -15px;
  margin-top: -10px;
}
.subheading-para-two {
  padding-bottom: 20px;
}

.footer-a {
  color: blue;
  margin-left: -13px;
}
