.displaydiv {
    border: 1px solid black;
    font-family: "Merriweather", serif;
    font-size: 25px;
  }
  .movie {
    display: inline;
  }
  .movie:hover {
    background-color: rgb(243, 239, 239);
  }
  .displaynone {
    display: none;
  }
  #moviename {
    font-size: 30px;
  }
  .movieimg {
    width: 70%;
    text-align: center;
    margin-left: 30px;
  }
  .image {
    max-width: 100%;
  }