.card {
    height: 550px;
    border: 1px black solid;
    box-shadow: 28px 13px 5px 0px rgba(201, 189, 201, 1);
    background-color: rgb(253, 250, 250);
    border-radius: 10px;
    font-size: 15px;
    font-family: "Merriweather", serif;
  }
  .flag {
    width: 100%;
  }
  .image {
    max-width: 60%;
  }
  body {
    background-color: white;
  }